<h2>Nueva-celebridad</h2>
<form action="/celebrities/create" method="POST">
    <label for="newCelebrity">New celebrity:</label>
    <input type="text" name="name">

    <br>

    <label for="occupation">Ocupation: </label>
    <input type="text" ocupation="occupation">

    <br>

    <label for="catchPhrase">CatchPhrase</label>
    <input type="text" catchPhrase="catchPhrase">

    <br>

    <button type="submit" class="btn btn-dark">Create new celebrity</button>
</form>